:root{
  --mainBlue:#2a2a72;
  --lightbBlue:#009ffd;
  --mainWhite:#f2f2f2;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}
body{
  font-family: 'Josefin Sans', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mianBlue) !important;
}
.logo{
  cursor: pointer;
  width: 35Px;
  height: 20px;
  margin-top: 12px;
  margin-left: 40px;
}
@media(max-width:500px){
  .logo{
  margin-left: 1px;
}}
.navbar{
  background-color: #232528;
}
.cart{
  color: white;
  background: none;
  border: 0.05rem solid white;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  margin: 5px;
  cursor: pointer;
}
.cart i{
  font-size: 30px;
  margin: 5px;
  color: white;
}
.cart:focus{
  outline: none;
}
.cart:hover{
background: black;
}
.navbar h1{
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
  margin-top: 16px;
  text-decoration: none;
}
@media(max-width:500px){
  .navbar h1{
    font-size: 16px;
    padding: 10px;
    margin-top: 16px;
  }
}
.title{
  color: black;
  text-align: center;
  padding: .6em;
}
.productimg{
  height: 250px;
}
.price{
  color: rgb(50, 50, 170);
  margin-bottom: 0;
  font-style: italic;
}
.buttoncart{
  color:white;
  background:#232528;
  border-radius: 6px;
  border: 2px solid #f2f2f2;
  height: 40px;
  font-size: 25px;
  width: auto;
  position: absolute;
  bottom: 50px;
  right: 0;}
.buttoncart:focus{
  outline: none;
}
.card-ftr{
  background-color: #e9ebec;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}
